body {
	font-family: sans-serif ;
	background: #fff;
	color: #000 ;
	max-width: 850px ;
	margin: auto ;
	padding: 0 16px ;
	margin-bottom: 500px ;
	scrollbar-color: gray #151515;
}

::-webkit-scrollbar {
	width: .66vw;
	background-color: #151515;
}
::-webkit-scrollbar-thumb {
	background-color: gray;
	border-radius: 5px;
}

a {
	color: #EF3340 ;
	text-decoration: none ;
}

#tagcloud {
	list-style: none ;
	text-align: center ;
	padding: 0 ;
}

#tagcloud li {
	display: inline-block ;
}

#tagcloud a {
	margin: .1em .25em ;
}

a:visited {
	color: #AE1C28 ;
}

main {
	max-width: 800px ;
	margin: auto ;
}

img {
	max-width: 90% ;
	max-height: 400px ;
	margin: auto ;
	display: block ;
}

h1 {
	border-style: solid ;
	border-width: 0px 0px 2px 0px ;
	text-align: center ;
	color : #FF8400 ;
}

h2 {
	color: #21468B ;
	text-align: center ;
}

h3 {
	color: #395488 ;
	text-align: center ;
}

h4 {
	color: #506385 ;
	text-align: center ;
}

footer {
	text-align: center ;
	border-style: solid ;
	border-width: 2px 0px 0px 0px ;
	padding: 1em ;
	color : #FF8400 ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	margin-bottom: 2em ;
	margin-top: 2em ;
}

.hidden {
	display: none !important ;
}

#artlist {
	font-size: large ;
}

#artlist li {
	padding: .25em ;
}

@media (min-width: 55em) {
	#artlist { column-count: 2 ;}
}

@media (min-width: 100em) {
	#artlist { column-count: 3 ;}
}

#tag_announcements:before { content: "📯" ;}
#tag_dutch:before { content: "🇳🇱" ;}
#tag_english:before { content: "🏴󠁧󠁢󠁥󠁮󠁧󠁿" ;}
#tag_afrikaans:before { content: "🟧" ;}
#tag_german:before { content: "🇩🇪" ;}
#tag_military:before { content: "⚔️" ;}
#tag_help:before { content : "🆘" ;}

.socialscontainer {
    display: flex ;
    flex-wrap: wrap ;
    justify-content: center ;
}
.socialsinfo {
    max-width: 350px ;
    text-align: center ;
    padding-left: 10px ;
    padding-right: 10px ;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

