<div class=socialscontainer>
    <div class=socialsinfo>
        <div class=socialstext>
            <img alt="" style="max-height:1em;max-width:1em;display:inline" src=/pix/tg.svg> 
            <a href="https://t.me/southafricanminorityunion">Telegram</a><br>
            <br>
            <img alt="" style="max-height:1em;max-width:1em;display:inline" src=/pix/ig.svg> 
            <a href="https://www.instagram.com/samu.za/">Instagram</a><br>
            <br>
        </div>
    </div>
    <br>
</div>